<div class="projects">
  <div class="project-cards">
    <div class="mb-4">
      <h3>Cocktail Master</h3>
        <%= link_to "https://mrcocktail-iskim91.herokuapp.com/", "http://mrcocktail-iskim91.herokuapp.com/", target:"_blank" %>
    </div>
    <%= image_tag "Mr-cocktail.png", class:'project-image' %>
  </div>
  <div class="project-cards">
    <div class="mb-4">
      <h3>Uproot</h3>
      <%= link_to "https://www.uproot.live", "https://www.uproot.live", target:"_blank" %>
    </div>
    <%= image_tag "Uproot.png", class:'project-image' %>
  </div>
  <div class="project-cards">
    <div class="mb-4">
      <h3>Airpet</h3>
      <%= link_to "https://airpet-u2v22.herokuapp.com", "airpet-u2v22.herokuapp.com", target:'_blank'  %>
    </div>
    <%= image_tag "airpet2.png", class:'project-image' %>
  </div>
</div>
