<div id="projects" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
  <div class="slider">
    <div class="project-card">
      <div>
        <h3>Cocktail Master</h3>
        <%= link_to "https://mrcocktail-iskim91.herokuapp.com/", "http://mrcocktail-iskim91.herokuapp.com/", target:"_blank" %>
      </div>
      <%= cl_image_tag( "Mr-cocktail", class:'project-image') %>
      <p>Cocktail Master is a project that allows users to sign-up and share their personal cocktail recipes and view other user's recipes. Users are also able to leave reviews to provide feedback.</p>
    </div>
    <div class="project-card">
      <div>
        <h3>Uproot</h3>
        <%= link_to "http://www.uproot.live", "http://www.uproot.live", target:"_blank" %>
      </div>
      <%= cl_image_tag( "Uproot", class:'project-image') %>
      <p>Uproot is a site that will ask you a series of questions to match you up with the top 3 cities that comply with your needs.</p>
    </div>
    <div class="project-card">
      <div>
        <h3>Airpet</h3>
        <%= link_to "https://airpet-u2v22.herokuapp.com", "https://airpet-u2v22.herokuapp.com", target:'_blank'  %>
      </div>
      <%= cl_image_tag( "airpet2", class:'project-image') %>
      <p>Airpet which purpose was to allow users to have a pet for a desired amount of time from a shelter, to help the shelter monetarily and make the pets more social.</p>
    </div>
    <div class="project-card">
      <div>
        <h3>Sammies</h3>
        <%= link_to "https://sammies.herokuapp.com", "https://sammies.herokuapp.com", target:'_blank'  %>
      </div>
      <%= cl_image_tag( "sammies.png", class:'project-image') %>
      <p>Sammies is a clothing shop that containd clothing for men and women. It is easy to navigate and see the available colors of each item of clothe.</p>
    </div>
  </div>
</div>
