<div id="projects" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
  <div class="slider">
    <div class="project-card">
      <div>
        <h3>Cocktail Master</h3>
        <%= link_to "https://mrcocktail-iskim91.herokuapp.com/", "http://mrcocktail-iskim91.herokuapp.com/", target:"_blank" %>
      </div>
      <%= image_tag "Mr-cocktail.png", class:'project-image' %>
    </div>
    <div class="project-card">
      <div>
        <h3>Uproot</h3>
        <%= link_to "https://www.uproot.live", "https://www.uproot.live", target:"_blank" %>
      </div>
      <%= image_tag "Uproot.png", class:'project-image' %>
    </div>
    <div class="project-card">
      <div>
        <h3>Airpet</h3>
        <%= link_to "https://airpet-u2v22.herokuapp.com", "airpet-u2v22.herokuapp.com", target:'_blank'  %>
      </div>
      <%= image_tag "airpet2.png", class:'project-image' %>
    </div>
  </div>
</div>
