<div class="btn-display">
  <% @categories.each_with_index do |c, i| %>
    <% if c == "all" %>
      <%= form_tag activities_path, method: :get do %>
        <%= submit_tag c.capitalize, class: "btn-search" %>
      <% end %>
    <% else %>
      <%= form_tag activities_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control d-none",
          value: c,
          id: i
        %>
        <%= submit_tag c.capitalize, class: "btn-search" %>
      <% end %>
    <% end %>
  <% end %>
</div>
