<i class="fas fa-arrow-up d-flex flex-column justify-content-center align-items-center">To top</i>
<div class="map">
  <%= render 'activities/map', markers: @markers %>
</div>
<div class="intro" >
  <div class="title">
    <%= image_tag('isac.jpeg', class:'avatar-user') %>
    <h1 class="text-center">Isac Giuk (Ji Uk) Kim</h1>
    <p>Web Developer</p>
    <%= render 'activities/social_media_links' %>
    <%= render 'activities/search_btn' %>
  </div>
</div>
<div class="about">
  <div class="about-container" data-aos-anchor-placement="top-bottom">
    <div class="section" data-aos="fade-right">
      <h1 class="section-title" >About</h1>
      <p class="section-description">A bit of information about myself in regards to my previous education and experiences around the world.</p>
   </div>
    <div class="about-info" data-aos="fade-left" >
      <p>Hello, I am Isac Giuk Kim. </p>
      <p>I majored in Business Adiministration at Hanyang University in Seoul, South Korea.</p>
      <p>However, after three and a half years I decided to transfer to Ohio University in Athens, Ohio. </p>
      <p>In Ohio University, I majored in Media Marketing and graduated with a GPA of 3.6/4.00</p>
      <p>After graduation, I worked in retail in Guayaquil, Ecuador for a couple months.</p>
      <p>Before going to Beijing, China to work as an English Teacher for two years, I did an internship in Digital Marketing for a start-up for the duration of 2 months.</p>
    </div>
  </div>
</div>
<div class="skills">
  <div class="skill-container">
    <div class="skill-cards">
      <%= render 'activities/skills' %>
    </div>
    <div class="section">
      <h1 class="section-title" data-aos="fade-left" data-aos-anchor-placement="center-bottom">Skills</h1>
      <p class="section-description" data-aos="fade-left" data-aos-anchor-placement="center-bottom">These skills are in relation to collaboration platforms, Conception, Development, Design, and Cloud services</p>
    </div>
  </div>
</div>
<div class="portfolio">
  <div class="section text-white">
    <h1 class="section-title" data-aos="fade-right" data-aos-anchor-placement="center-bottom">Projects</h1>
    <p class="section-description" data-aos="fade-right" data-aos-anchor-placement="center-bottom">These projects where created by using Ruby on Rails as their main platform. These projects where developed during our last weeks in Le Wagon.</p>
  </div>
  <%= render 'activities/projects' %>
</div>
