<div class="activity-container">
  <%= render 'activities/map', markers: @markers %>
  <%= render 'activities/search_btn' %>
    <div class="title-info">
      <%= image_tag('isac.jpeg', class:'avatar-user') %>
      <h1 class="text-center text-white title">Isac Giuk (Ji Uk) Kim</h1>
      <%= render 'activities/social_media_links' %>
    </div>
</div>
<div class="container">
  <h2 class='category'>Projects</h2>
  <%= render 'activities/projects' %>

</div>
